<mat-tab-group mat-stretch-tabs #tabGroup (selectedIndexChange)="_setDataSource($event)">


  <mat-tab>
    <ng-template mat-tab-label>
      Label
    </ng-template>


    <div class="searchGroup">
      <input (keyup)="applyFilterMaterial($event)" class="form-control searchBox addBtnSearch" type="text"
             placeholder="Search" #input>
      <button type="button" matTooltip="Export csv labels" class="btn btn-primary form-control addBtn"
              (click)="onImportExportClick()"><img
        height="20" src="assets/icons/file-export-solid.svg" alt="Import/export labels">
      </button>
    </div>

    <div *ngIf="!popupImportExportHidden" class="importExport">
      <div class="importExportContent">

        <div class="modal-content">
          <div class="modal-header">
            <h2 class="h2">Export a CSV File</h2>
          </div>
          <div class="modal-body">
            If you want to export a specific Label you can go to the Search page.
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-primary form-control" routerLink="/home">Go to Search</button>
            <button type="button" class="btn btn-primary form-control" (click)="exportLabels()">Export CSV File (All Labels)</button>
            <button type="button" class="btn btn-secondary form-control" (click)="closePopup()" data-dismiss="modal"><img
              height="20" src="assets/icons/close.svg" alt="Cancel">Cancel</button>
          </div>
        </div>
      </div>
    </div>

    <div class="admin-data">

      <mat-table #sortMaterial="matSort" [dataSource]="materialDataSource" matSort>

        <ng-container matColumnDef="sequence_number">
          <mat-header-cell *matHeaderCellDef mat-sort-header> Sequence Number</mat-header-cell>
          <mat-cell *matCellDef="let row">#{{row.getFormattedSequenceNumber()}} </mat-cell>
        </ng-container>

        <ng-container matColumnDef="name">
          <mat-header-cell *matHeaderCellDef mat-sort-header> Name</mat-header-cell>
          <mat-cell class="text-uppercase" *matCellDef="let row"> {{row.name}} </mat-cell>
        </ng-container>

        <ng-container matColumnDef="status">
          <mat-header-cell *matHeaderCellDef mat-sort-header> Status</mat-header-cell>
          <mat-cell *matCellDef="let row"> {{row.saveStatus}}</mat-cell>
        </ng-container>

        <ng-container matColumnDef="created">
          <mat-header-cell *matHeaderCellDef mat-sort-header>Created At</mat-header-cell>
          <mat-cell *matCellDef="let row"> {{row.creationDate}}</mat-cell>
        </ng-container>

        <ng-container matColumnDef="action">
          <mat-header-cell *matHeaderCellDef> Action</mat-header-cell>
          <mat-cell *matCellDef="let element">
            <a mat-icon-button matTooltip="View label"
               routerLink="/material/{{ element.sequenceNumber }}">
              <img src="assets/icons/eye.svg" height="24">
            </a> |
            <a mat-icon-button matTooltip="Edit label" routerLink="/materials/edit/{{ element.sequenceNumber }}">
              <img src="assets/icons/edit.svg">
            </a> |
            <a mat-icon-button matTooltip="Delete report" (click)="onDeletePopup()">
              <img src="assets/icons/delete.svg">
            </a>
            <div *ngIf="deletePopup" class="popupUser">
              <div class="userEditPopup">
                <br>
                <br>
                <div style="text-align: center;"><p>Are you sure to delete this entry?</p></div>
                <br>
                <div class="popupUserButtons">
                  <button type="button" class="btn btn-primary form-control popupUserBtn" (click)="closePopup()"><img
                    height="18" src="assets/icons/close.svg" alt="Cancel"> Cancel
                  </button>
                  <button type="submit" class="btn btn-primary form-control popupUserBtn" (click)="onDelete(element)"><img
                    height="18" src="assets/icons/deleteWhite.svg" alt="Delete"> Delete
                  </button>
                </div>
              </div>
            </div>
          </mat-cell>
        </ng-container>

        <mat-header-row *matHeaderRowDef="materialColumns"></mat-header-row>
        <mat-row *matRowDef="let row; columns: materialDataColumns;">
        </mat-row>
      </mat-table>

      <mat-paginator #paginatorMaterial [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
    </div>
  </mat-tab>
  <mat-tab>
    <ng-template mat-tab-label>
      User
    </ng-template>

    <div class="searchGroup">
      <input (keyup)="applyFilterUser($event)" class="form-control searchBox addBtnSearch" type="text"
             placeholder="Search" #input>
      <button type="button" matTooltip="Add a user" class="btn btn-primary form-control addBtn"
              (click)="onAddUserClick()"><img
        height="20" src="assets/icons/plus.svg" alt="Add user">
      </button>
    </div>

    <div *ngIf="!popupAddUserHidden" class="popupUser">
      <div class="userEditPopup">
        <form #f="ngForm" (ngSubmit)="onAddUser(f)">
          <input #firstname="ngModel" type="text" class="form-control editUserInput" name="Firstname" required
                 [(ngModel)]="add.firstname" pattern="^[a-zA-Z ]*$" placeholder="* Firstname"/>
          <div *ngIf="firstname.errors && (firstname.dirty || firstname.touched)">
            <small class="smallTextError" *ngIf="firstname.errors.required">&bull; Firstname is required</small>
            <small class="smallTextError" *ngIf="firstname.errors.pattern">&bull; This is not a name</small>
          </div>
          <input #lastname="ngModel" type="text" class="form-control editUserInput" name="Lastname" required
                 [(ngModel)]="add.lastname" pattern="^[a-zA-Z ]*$" placeholder="* Lastname"/>
          <div *ngIf="lastname.errors && (lastname.dirty || lastname.touched)">
            <small class="smallTextError" *ngIf="lastname.errors.required">&bull; Lastname is required</small>
            <small class="smallTextError" *ngIf="lastname.errors.pattern">&bull; This is not a name</small>
          </div>
          <input #email="ngModel" type="email" class="form-control editUserInput"
                 pattern="[A-Za-z0-9._%+-]+@[A-Za-z0-9.-]+\.[A-Za-z]{2,6}$" required [(ngModel)]="add.email"
                 name="Email" placeholder="* Email"/>
          <div *ngIf="email.errors && (email.dirty || email.touched)">
            <small class="smallTextError" *ngIf="email.errors.required">&bull; Email is required</small>
            <small class="smallTextError" *ngIf="email.errors.pattern">&bull; Not an valid email</small>
          </div>
          <input #organisation="ngModel" type="text" class="form-control editUserInput"
                 pattern="^[ a-zA-Z0-9'_-]*$" [(ngModel)]="add.organisation" name="Organisation"
                 placeholder="Organisation"/>
          <div *ngIf="organisation.errors && organisation.invalid">
            <small class="smallTextError" *ngIf="organisation.errors.pattern">&bull; This is not an valid
              organisation</small>
          </div>
          <input #password="ngModel" type="password" required class="form-control editUserInput"
                 pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}" [(ngModel)]="add.password" name="Password"
                 placeholder="* Password"/>
          <div *ngIf="password.errors && (password.dirty || password.touched)">
            <small class="smallTextError" *ngIf="password.errors.required">&bull; Password is required</small>
            <small class="smallTextError" *ngIf="password.errors.pattern">&bull; Must contain at least one number and
              one uppercase and lowercase letter, and at least 8 or more characters.</small>
          </div>
          <input #passwordRepeat="ngModel" type="password" required class="form-control editUserInput"
                 [(ngModel)]="add.passwordRepeat" name="Repeat password" pattern="{{ password.value }}"
                 placeholder="* Repeat password"/>
          <div *ngIf="passwordRepeat.errors && (passwordRepeat.dirty || passwordRepeat.touched)">
            <small class="smallTextError" *ngIf="passwordRepeat.errors.required">&bull; Repeat password is required<br/></small>
            <small class="smallTextError" *ngIf="password.value!=passwordRepeat.value">&bull; Password & Confirm
              Password does not match.</small>
          </div>
          <div class="checkBoxList">
            <div class="form-check form-check-inline">
              <label class="form-check-label"> Admin <input class="form-check-input" type="checkbox"
                                                            [checked]="adminSelected"
                                                            (change)="adminSelected = !adminSelected"
                                                            name="Admin" value="Admin">
                <span class="checkmark"></span></label><br>
            </div>
            <div class="form-check form-check-inline">
              <label class="form-check-label"> Email verified <input class="form-check-input" type="checkbox"
                                                                     [checked]="emailVerified"
                                                                     (change)="emailVerified = !emailVerified"
                                                                     name="Email verified"
                                                                     value="Email verified">
                <span class="checkmark"></span></label><br>
            </div>
          </div>
          <div class="popupUserButtons">
            <button type="button" class="btn btn-primary form-control popupUserBtn" (click)="closePopup()"><img
              height="20" src="assets/icons/close.svg" alt="Cancel"> Cancel
            </button>
            <button type="submit" class="btn btn-primary form-control popupUserBtn"><img height="20"
                                                                                         src="assets/icons/content-save.svg"
                                                                                         alt="Save"> Save
            </button>
          </div>
        </form>
      </div>
    </div>

    <div class="admin-data">
      <mat-table [dataSource]="userDataSource" matSort #sortUser="matSort">

        <ng-container matColumnDef="id">
          <mat-header-cell *matHeaderCellDef mat-sort-header>ID</mat-header-cell>
          <mat-cell *matCellDef="let row"> {{row.id}} </mat-cell>
        </ng-container>

        <ng-container matColumnDef="email">
          <mat-header-cell *matHeaderCellDef mat-sort-header>E-mail</mat-header-cell>
          <mat-cell *matCellDef="let row"> {{row.email}} </mat-cell>
        </ng-container>

        <ng-container matColumnDef="name">
          <mat-header-cell *matHeaderCellDef mat-sort-header>Name</mat-header-cell>
          <mat-cell *matCellDef="let row"> {{row.firstname + " " + row.lastname}}</mat-cell>
        </ng-container>

        <ng-container matColumnDef="action">
          <mat-header-cell *matHeaderCellDef> Action</mat-header-cell>
          <mat-cell *matCellDef="let element">
            <div *ngIf="!popupHidden" class="popupUser">
              <div class="userEditPopup">
                <form #f="ngForm" (ngSubmit)="onEditUser(f)">
                  <input #email="ngModel" type="email" class="form-control editUserInput"
                         pattern="[A-Za-z0-9._%+-]+@[A-Za-z0-9.-]+\.[A-Za-z]{2,6}$" required [(ngModel)]="edit.email"
                         name="Email" placeholder="* Email"/>
                  <div *ngIf="email.errors && (email.dirty || email.touched)">
                    <small class="smallTextError" *ngIf="email.errors.required">&bull; Email is required</small>
                    <small class="smallTextError" *ngIf="email.errors.pattern">&bull; Not an valid email</small>
                  </div>
                  <input #firstname="ngModel" type="text" class="form-control editUserInput" name="Firstname" required
                         [(ngModel)]="edit.firstname" pattern="^[a-zA-Z ]*$" placeholder="* Firstname"/>
                  <div *ngIf="firstname.errors && (firstname.dirty || firstname.touched)">
                    <small class="smallTextError" *ngIf="firstname.errors.required">&bull; Firstname is required</small>
                    <small class="smallTextError" *ngIf="firstname.errors.pattern">&bull; This is not a name</small>
                  </div>
                  <input #lastname="ngModel" type="text" class="form-control editUserInput" name="Lastname" required
                         [(ngModel)]="edit.lastname" pattern="^[a-zA-Z ]*$" placeholder="* Lastname"/>
                  <div *ngIf="lastname.errors && (lastname.dirty || lastname.touched)">
                    <small class="smallTextError" *ngIf="lastname.errors.required">&bull; Lastname is required</small>
                    <small class="smallTextError" *ngIf="lastname.errors.pattern">&bull; This is not a name</small>
                  </div>
                  <input #organisation="ngModel" type="text" class="form-control editUserInput"
                         pattern="^[ a-zA-Z0-9'_-]*$" [(ngModel)]="edit.organisation" name="Organisation"
                         placeholder="Organisation"/>
                  <div *ngIf="organisation.errors && organisation.invalid">
                    <small class="smallTextError" *ngIf="organisation.errors.pattern">&bull; This is not an valid
                      organisation</small>
                  </div>
                  <div class="checkBoxList">
                    <div class="form-check form-check-inline">
                      <label class="form-check-label"> Admin <input class="form-check-input" type="checkbox"
                                                                    [checked]="adminSelected"
                                                                    (change)="adminSelected = !adminSelected"
                                                                    name="Admin" value="Admin">
                        <span class="checkmark"></span></label><br>
                    </div>
                    <div class="form-check form-check-inline">
                      <label class="form-check-label"> Email verified <input class="form-check-input" type="checkbox"
                                                                             [checked]="emailVerified"
                                                                             (change)="emailVerified = !emailVerified"
                                                                             name="Email verified"
                                                                             value="Email verified">
                        <span class="checkmark"></span></label><br>
                    </div>
                  </div>
                  <div class="popupUserButtons">
                    <button type="button" class="btn btn-primary form-control popupUserBtn" (click)="closePopup()"><img
                      height="20" src="assets/icons/close.svg" alt="Cancel"> Cancel
                    </button>
                    <button type="submit" class="btn btn-primary form-control popupUserBtn"><img height="20"
                                                                                                 src="assets/icons/content-save.svg"
                                                                                                 alt="Save"> Save
                    </button>
                  </div>
                </form>
              </div>
            </div>
            <a mat-icon-button matTooltip="View user"
               routerLink="/user/{{ element.id }}">
              <img src="assets/icons/eye.svg" height="24">
            </a> |
            <a mat-icon-button matTooltip="Edit user" (click)="onEditUserClick(element)">
              <img src="assets/icons/edit.svg">
            </a> |
            <a mat-icon-button matTooltip="Delete user" (click)="onDeletePopup()">
              <img src="assets/icons/delete.svg">
            </a>
            <div *ngIf="deletePopup" class="popupUser">
              <div class="userEditPopup">
                <br>
                <br>
                <div style="text-align: center;"><p>Are you sure to delete this entry?</p></div>
                <br>
                <div class="popupUserButtons">
                  <button type="button" class="btn btn-primary form-control popupUserBtn" (click)="closePopup()"><img
                    height="18" src="assets/icons/close.svg" alt="Cancel"> Cancel
                  </button>
                  <button type="submit" class="btn btn-primary form-control popupUserBtn" (click)="onDelete(element)"><img
                    height="18" src="assets/icons/deleteWhite.svg" alt="Delete"> Delete
                  </button>
                </div>
              </div>
            </div>
          </mat-cell>
        </ng-container>

        <mat-header-row *matHeaderRowDef="userColumns"></mat-header-row>
        <mat-row *matRowDef="let row; columns: userDataColumns;">
        </mat-row>
      </mat-table>

      <mat-paginator #paginatorUser [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
    </div>
  </mat-tab>

  <mat-tab>
    <ng-template mat-tab-label>
      Reports
    </ng-template>

    <div class="searchGroup">
      <input (keyup)="applyFilterReport($event)" class="form-control searchBox" type="text"
             placeholder="Search" #input>
    </div>

    <div class="admin-data">
      <mat-table [dataSource]="reportDataSource" matSort #sortReport="matSort">

        <ng-container matColumnDef="id">
          <mat-header-cell *matHeaderCellDef mat-sort-header> Report ID</mat-header-cell>
          <mat-cell *matCellDef="let row"> {{row.id}} </mat-cell>
        </ng-container>

        <ng-container matColumnDef="message">
          <mat-header-cell *matHeaderCellDef mat-sort-header> Report Message</mat-header-cell>
          <mat-cell *matCellDef="let row"> {{row.reportMessage}} </mat-cell>
        </ng-container>

        <ng-container matColumnDef="user">
          <mat-header-cell *matHeaderCellDef mat-sort-header> Reported By</mat-header-cell>
          <mat-cell *matCellDef="let row"> {{row.user.firstname + ' ' + row.user.lastname}}</mat-cell>
        </ng-container>

        <ng-container matColumnDef="solved">
          <mat-header-cell *matHeaderCellDef mat-sort-header> Status</mat-header-cell>
          <mat-cell *matCellDef="let row">
            <p class="solvedText" *ngIf="row.solved">Solved</p>
            <p class="solvedText" *ngIf="!row.solved">Not solved</p>
          </mat-cell>
        </ng-container>

        <ng-container matColumnDef="action">
          <mat-header-cell *matHeaderCellDef> Action</mat-header-cell>
          <mat-cell *matCellDef="let element">


            <a mat-icon-button matTooltip="View reported material"
               routerLink="/material/{{ element.material.sequenceNumber }}">
              <img src="assets/icons/eye.svg" height="24">
            </a> |
            <a *ngIf="!element.solved" mat-icon-button matTooltip="Mark as solved" (click)="onReportEdit(element)">
              <img src="assets/icons/done.svg" height="24">
            </a>
            <a *ngIf="element.solved" mat-icon-button matTooltip="Mark as not solved" (click)="onReportEdit(element)">
              <img src="assets/icons/close_blue.svg">
            </a> |
            <a mat-icon-button matTooltip="Delete report" (click)="onDeletePopup()">
              <img src="assets/icons/delete.svg">
            </a>
            <div *ngIf="deletePopup" class="popupUser">
              <div class="userEditPopup">
                <br>
                <br>
                <div style="text-align: center;"><p>Are you sure to delete this entry?</p></div>
                <br>
                <div class="popupUserButtons">
                  <button type="button" class="btn btn-primary form-control popupUserBtn" (click)="closePopup()"><img
                    height="18" src="assets/icons/close.svg" alt="Cancel"> Cancel
                  </button>
                  <button type="submit" class="btn btn-primary form-control popupUserBtn" (click)="onDelete(element)"><img
                    height="18" src="assets/icons/deleteWhite.svg" alt="Delete"> Delete
                  </button>
                </div>
              </div>
            </div>
          </mat-cell>
        </ng-container>


        <mat-header-row *matHeaderRowDef="reportColumns"></mat-header-row>
        <mat-row *matRowDef="let row; columns: reportDataColumns;">
        </mat-row>
      </mat-table>
      <mat-paginator #paginatorReport [pageSize]="5" [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
    </div>
  </mat-tab>


  <mat-tab>
    <ng-template mat-tab-label>
      Settings
    </ng-template>

    <div class="admin-data mt-4 config-form-container small-padding">
      <form (keydown.enter)="$event.preventDefault()" #configForm="ngForm" (ngSubmit)="onConfigSubmit(configForm)">
        <div class="form-container">
          <div class="form-group">
            <label for="email-suffix">
              Email suffix
              <a matTooltip="Email suffix for user registration" matTooltipPosition="after">
                <img src="assets/icons/information-outline.svg" height="18"/>
              </a>
            </label>

            <input type="text" class="form-control config-input-width" id="email-suffix" placeholder="name.com" required
                   [(ngModel)]="config.email_suffix" name="email_suffix">
            <small class="block-help ml-2"
                   *ngIf="configForm.form.get('email_suffix')?.touched && configForm.form.get('email_suffix')?.invalid">
              &bull; Email suffix field is required
            </small>
          </div>
          <div class="form-group">
            <label for="organisation">
              Organisation
              <a matTooltip="Name of the organisation the new users are associated with" matTooltipPosition="after">
                <img src="assets/icons/information-outline.svg" height="18"/>
              </a>
            </label>
            <input type="text" class="form-control config-input-width" id="organisation" placeholder="Organisation" required
                   [(ngModel)]="config.organisation" name="organisation">
            <small class="block-help ml-2"
                   *ngIf="configForm.form.get('organisation')?.touched && configForm.form.get('organisation')?.invalid">
              &bull; Organisation field is required
            </small>
          </div>
          <div class="form-group">
            <label for="organisation-logo">
              Organisation Logo URL
              <a matTooltip="A path (asset/images/) to an image that will be used for label form and PDF" matTooltipPosition="after">
                <img src="assets/icons/information-outline.svg" height="18"/>
              </a>
            </label>
            <input type="text" class="form-control config-input-width" id="organisation-logo" placeholder="URL" required
                   [(ngModel)]="config.logo_path" name="logo_path">
            <small class="block-help ml-2"
                   *ngIf="configForm.form.get('logo_path')?.touched && configForm.form.get('logo_path')?.invalid">
              &bull; Logo path field is required
            </small>
          </div>

          <div class="text-center">
            <button class="btn btn-primary form-control popupUserBtn" [disabled]="!configForm.form.valid">
              <img height="20" src="assets/icons/content-save.svg" alt="Save">
              Save
            </button>
          </div>
        </div>
      </form>
    </div>
  </mat-tab>
</mat-tab-group>












