.searchBox {
  padding: 20px;
  border-radius: 50px;
  height: 50px;
  width: 50%;
  margin-top: 50px;
  border: 0px rgba(0, 0, 0, 0.05) solid;
  box-shadow: 0 0.5rem 20px rgba(0, 0, 0, 0.1);
  z-index: 1;
  position: relative;
  outline: none;
}

.mat-tooltip{
   size: 50px !important;
}

.search-type {
  display: flex;
  justify-content: center;
  border-bottom-left-radius: 25px;
  border-bottom-right-radius: 25px;
  height: 40px;
  width: auto;
  max-width: 40%;
  margin-left: 30%;
  border: 0px rgba(0, 0, 0, 0.05) solid;
  box-shadow: 0 0.5rem 20px rgba(0, 0, 0, 0.2);
  text-align: center;
  background: white;
  z-index: 0;
  padding: 10px;
}
@media screen and (max-width: 1600px) {
  .searchBox {
    width: 80%;
  }
  .search-type {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;
    height: auto;
    width: auto;
    margin-left: 15%;
    max-width: 70%;
    border: 0px rgba(0, 0, 0, 0.05) solid;
    box-shadow: 0 0.5rem 20px rgba(0, 0, 0, 0.1);
    text-align: center;
    background: white;
    z-index: 0;
  }
}
@media screen and (max-width: 500px) {
  .searchBox {
    width: 80%;
  }
  .search-type {
    display:inline-block;
    justify-content: left;
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;
    height: auto;
    width: auto;
    margin-left: 5%;
    max-width: 70%;
    border: 0px rgba(0, 0, 0, 0.05) solid;
    box-shadow: 0 0.5rem 20px rgba(0, 0, 0, 0.1);
    text-align: left;
    background: white;
    z-index: 0;
  }
}
.imageAndSearch {
  height: auto;
}
.btn {
  color: #ffffff;
  background-color: #00bcd4;
  box-shadow: 0 0.5rem 20px rgba(0, 188, 212, 0.5);
}

.btn:hover {
  color: #ffffff;
  background-color: #009db0;
  box-shadow: 0 0.5rem 20px rgba(0, 157, 176, 0.5);
}

.banner {
  background-image: url("src/assets/images/frontpage-img.jpg");
  min-height: 35vh;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  padding-bottom: 20px;
}

.rounded {
  border-radius: 1rem !important;
}

.card-flip > div {
  backface-visibility: hidden;
  transition: transform 300ms;
  transition-timing-function: linear;
  width: 100%;
  height: 100%;
  margin: 0;
  display: flex;
}

.card-front {
  transform: rotateY(0deg);
}

.card-back {
  transform: rotateY(180deg);
  position: absolute;
  top: 0;
}

.card-flip:hover .card-front {
  transform: rotateY(-180deg);
}

.card-flip:hover .card-back {
  transform: rotateY(0deg);
}
.badge {
  padding: 5px;
  margin-right: 5px;
  margin-top: 5px;
}

.form-check-input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}
.form-check-label {
  display: block;
  position: relative;
  padding-left: 28px;
  padding-top: 5px;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  margin-left: 20px;
}
.checkmark {
  position: absolute;
  border-radius: 10px;
  top: 0;
  left: 0;
  height: 25px;
  width: 25px;
  border: 0.2rem #00bcd4 solid;
  box-shadow: 0 0.4rem 20px rgba(0, 0, 0, 0.2);
}
.form-check input:checked ~ .checkmark {
  background-color: #00bcd4;
  border: 0.2rem #fff solid;
}
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}
.form-check input:checked ~ .checkmark:after {
  display: block;
}
.form-check .checkmark:after {
  left: 6px;
  top: 1px;
  width: 7px;
  height: 15px;
  border: solid white;
  border-width: 0 0.2rem 0.2rem 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
  border-radius: 10%;
}
.card {
  height: auto;
}
.materialTitle {
  margin: 0;
}
.materialTop {
  line-height: 10px;
  margin-bottom: 10px;
}
hr {
  margin-top: 10px;
  margin-bottom: 5px;
}
.materialBy {
  font-size: 12px;
}
.cardDiv {
  display: flex;
}
.card {
  flex: 1 !important;
  height: auto;
}
.form-control {
  border-radius: 50px;
  height: 45px;
  width: auto;
  border: 0 rgba(0, 0, 0, 0.05) solid;
  box-shadow: 0 0.5rem 20px rgba(0, 0, 0, 0.1);
}

.btn {
  color: #ffffff;
  background-color: #00bcd4;
  box-shadow: 0 0.5rem 20px rgba(0, 188, 212, 0.5);
  cursor: pointer;
  min-width: 0;
  margin-left: 10px;
}
.btn:hover {
  color: #ffffff;
  background-color: #009db0;
  box-shadow: 0 0.5rem 20px rgba(0, 157, 176, 0.5);
}
.btn:disabled {
  cursor: not-allowed;
}

.addBtn {
  position: fixed;
  right: 25px;
  bottom: 25px;
  width: auto;
  height: 45px
}
.noresults {
  text-align: center;
  width: 100%;
  padding-top: 25px;
}

