<div class="container-fluid">
  <div class="row">
    <div class="col-md-12 banner text-center">
    </div>
    <div class="col-md-12 text-left">

      <p>
        The Material Sample Management Tool is a label generator
        and database to support creative communities in documenting
        and sharing material experiments. It was designed around the
        idea of collaboratively building an archive of alternative design
        materials with an emphasis on materials that are easily
        renewable, reusable, (home) compostable within 90 days,
        locally abundant and make use of local waste streams. The
        open-source tool, which functions as a collaborative archive as
        well as label generator to help showcase material experiments,
        was developed to help any community of creatives (especially
        students) share them with peers online and offline, and
        showcase them the physical material wall in their shared
        workspaces, studios and tool shops.
      </p>
      <p>

        NOTE: we are in the beta phase, so there might be hiccups!
        We are still working on this tool. If you get stuck, try saving your
        work as draft, and refreshing the page.
      </p>

      <h2>Who made this? </h2>
      <p>
        The “Material Sample Management Tool” was developed in
        2020 by AUAS computer engineering students
       <a href="https://github.com/Wauwda"> Alec Wouda</a>,
        <a href="https://github.com/Jarnovdvelde"> Jarno van der Velde</a>,
          <a href="https://github.com/Koziad">Kostas Mylothridis</a>,
            <a href="https://github.com/MitchelldeVrees">Mitchell de Vries</a> and
              <a href="https://github.com/SamOver10">Sam Overheul</a>, with wonderful guidance from Okechukwu
        Onwunli and the teaching team of the Enterprise Web
        Applications semester course.

      </p>

      <p>
        This tool is part of a larger material archiving project funded by
        NWO by means of a Comenius Teaching Fellowship awarded
        to senior lecturer and researcher Loes Bogers. In close
        collaboration with Textile Lab Amsterdam at Waag, a dedicated
        project team consisting of design educators, researchers and
        partners at Waag will develop archiving tools for sharing
        research into sustainable design materials in higher education.
        The project is inspired by, and a continuation of the Material
        Archive developed at Waag by Cecilia Raspanti, Maria Viftrup
        and other (2017-2019). The project will run until January 2022.
      </p>

      <p>
        More info about the Comenius Teaching Fellowship project can
        be found
        <a href="https://www.hva.nl/fdmcilearningcommunities/gedeelde-content/projecten/critical-making--research-through-design/open-source-material-archive-for-transdisciplinary-and-critical-creative-research.html?origin=Crxi2mJpTsqgNGDI0qxagw">
          here. </a>
      </p>

      <p>
        The project is further supported by the AUAS learning
        community on Critical Making and Research through Design: a
        partnership between the Amsterdam Fashion Institute and
        various research groups at the Amsterdam University of
        Applied Sciences:
        Fashion Research & Technology
        Visual Methodologies Collective
        Play and Civic Media
      </p>
      <p>
        <a href="https://creativecommons.org/licenses/by-nc-sa/4.0/" class="license">CC BY-NC-SA 4.0
          (Attribution-NonCommercial-ShareAlike 4.0)</a>
      </p>

      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <h2>What are the sustainability tags? How do you define them?</h2>
        </mat-expansion-panel-header>
      <p> • made of renewable resources means that the resources used
        take less than a human lifetime to replenish, but preferably
        shorter than that</p>
        <p>  • home compostable means that the final material can be fully
        composted into fertilizer without special conditions (heat,
        mechanical processing) in less than 90 days. See also:
        https://www.milieucentraal.nl/in-en-om-het-huis/tuinieren/t
        uinonderhoud/zelf-composteren/</p>
        <p>  • materials are reusable when they can be reshaped without
        quality loss, requiring very little additional resources: for
        example by heating and recasting it, or by reversing a
        chemical reaction.</p>
        <p>  • if the ingredients used can largely be sourced as a by-product
        from something else, or from a waste stream the material
        qualifies for the tag: by-product or waste.</p>
        <p>  • we say a material is vegan, when the sourcing of its
        ingredients is not related to activities involving
        animal-cruelty of any kind.</p>
        <p>  • and lastly: when ingredients used are locally sourced and
        produced (locally or in neighbouring countries, or within
        500 km), we can say its locally abundant.</p>
      </mat-expansion-panel>
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <h2>What can you do with this tool? </h2>
        </mat-expansion-panel-header>
       <p> • Make an account and document DIY material experiments on
         the go (only @hva.nl email addresses)</p>
        <p>  • Store drafts, and publish them when you are ready to share a
        physical sample in the lab</p>
        <p>  • Generate a PDF label in A6, A5, or A4 size and attach it to
        your material sample to showcase it in the Makers Lab</p>
        <p> • Browse and study samples made by your peers, either
        physically in the lab, or online</p>
        <p> • Not an AUAS student or employee? Contact Loes Bogers for
        a guest account: l.bogers@hva.nl</p>
      </mat-expansion-panel>
<br />
      <p>I want to use this tool in my class, can you give a
        talk/workshop? Can I become an admin too?</p>

      <p>Sure! Contact Loes Bogers at l.bogers@hva.nl for more info.</p>
      <br />

      <p>I don’t have an AUAS email address because I work or study
        somewhere else, can I get an account?</p>

      <p>Contact Loes Bogers at l.bogers@hva.nl to request a guest
        account. Or get in touch with the systems admin at your own
        organisation and ask them to install your very own instance of
        the tool! The application is open source tool and can be freely
        downloaded from Github. You may host your own material
        sample management tool, modify the accepted email domain
        and organisation logo and start hosting your own material
        archive. You are even free to remix or adapt the work to fit your
        needs: <a href="https://github.com/Koziad/visualm-5" >link to the github</a>
      </p>

      <p>We would love to hear from you if you are hosting your own,
        and find out how you like it!</p>
    </div>
  </div>
</div>
