.banner {
  background-image: url('src/assets/images/frontpage-img.jpg');
  height: 25vh;
  width: 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  margin-bottom: 2%;
}

p, h2 {
  margin: auto;
  width: 60%;
  font-size: 18px;
}
mat-expansion-panel{
  margin: auto;
  width: 60%;
}
mat-expansion-panel h2{
  line-height: 18px;
}
@media screen and (max-width: 1000px) {
  p, h2 {
    width: 90%;
  }
  mat-expansion-panel{
    width: 90%;
  }
  mat-expansion-panel h2{
    font-size: 15px;
    line-height: 13px;
  }
}
