<div class="container-fluid">
  <div class="row">
    <div class="col-md-12 banner text-center">
    </div>
    <div class="col-md-12 text-center">

      <p>
        The goal of this project is to develop methods for open archiving of so-called "new naturals". "New" or "other"
        naturals are not a thing (yet). But we can see this concept being used in material archives, as container
        category for
        design materials that don't fit the traditional material families of wood, hide, metal, glass, plastics, stone,
        etcetera. New
        or other naturals is a left-over tag to indicate composite or otherwise hybrid materials made from renewable
        natural
        resources such as food waste, plant fibres etcetera. You can read more about the background of the project
        <a href="http://bit.ly/archivingnewnaturals" target="_blank">here</a>!
      </p>

      <p>
        Material Sample Management Tool is an archive of alternative design materials that are renewable and
        compostable.

        We build this tool so we could easily archive new discovered sample materials and recipes.
        Back in the days the researchers from the Visual Methodologies Collective used a physical archive to store their
        samples in,
        but because of the overdose of new discovered samples they could not keep track of all samples anymore.
        This is why Visual Methodologies Collective wanted a digital archive where they can search and also add samples.
      </p>

      <p>
        The Visual Methodologies Collective is a research group specializing in visual and digital research for social
        and cultural issues, based at the Amsterdam University of Applied Sciences, Faculty of Digital Media and
        Creative Industries.
        Their interests lie at the intersections of visual culture, digital research, information design, media theory,
        data visualization, storytelling, critical making, and issue mapping.
        Visit their <a href="https://visualmethodologies.org/" target="_blank">website</a> for more information!
      </p>

      <p>
        <a href="https://creativecommons.org/licenses/by-nc-sa/4.0/" class="license">CC BY-NC-SA 4.0
          (Attribution-NonCommercial-ShareAlike 4.0)</a>
      </p>
    </div>
  </div>
</div>
