<div class="reset">
  <div class="resetPasswordForm" *ngIf="!verified">
    <form #f="ngForm" (ngSubmit)="onSubmit(f)">
      <div class="text-center">
        <h1 class="text-center">Email reset</h1>
        <p></p>
        <medium *ngIf="emailWaiting">Wait a few seconds before the email has been sent</medium>
        <medium *ngIf="emailValid">Sent! Check your email</medium>
        <error *ngIf="emailInvalid">This email does not exist in our database</error>
      </div>
      <div class="form-group">
        <input #email="ngModel" name="emailAddress" [(ngModel)]="input.email" type="text" ngModel email="true" required
               class="form-control" id="loginEmail" placeholder="E-mail"/>
        <div *ngIf="email.errors && (email.dirty || email.touched)" class="smallTextError">
          <small class="smallTextError" *ngIf="email.errors.required">&bull; Email is required</small>
          <small class="smallTextError" *ngIf="email.errors.email">&bull; Not an email</small>
        </div>
      </div>

      <div class="form-group form-check">
      </div>
      <button type="submit" [disabled]="f.invalid" class="btn btn-primary form-control"><img class="iconLoginButton"
                                                                                             src="../../../assets/icons/account-outline.svg"
                                                                                             alt="Send Email"/>Send
        Email
      </button>
    </form>
  </div>

  <div class="checkIfTokenExist" *ngIf="verified">
    <form #f="ngForm" (ngSubmit)="reset()">
      <div class="text-center">
        <h1 class="text-center">Password</h1>
      </div>
      <div class="form-group">
        <input #password="ngModel" name="Password" [(ngModel)]="input.password" type="password" ngModel password="true"
               required class="form-control" placeholder="Password"/>
        <div *ngIf="password.errors && (password.dirty || password.touched)" class="smallTextError">
          <small class="smallTextError" *ngIf="password.errors.required">&bull; Password is required</small>
          <small class="smallTextError" *ngIf="password.errors.pattern">&bull; Must contain at least one number and one
            uppercase and lowercase letter, and at least 8 or more characters.</small>
        </div>
        <small class="smallTextError" *ngIf="errorOccurred">&bull; {{errorMessage}}</small>


        <div class="comparisonPassword">
          <input #comparisonPassword="ngModel" name="ComparisonPassword" [(ngModel)]="input.comparisonPassword"
                 type="password" ngModel password="true" required class="form-control" placeholder="Password again"/>
        </div>
        <small class="smallTextError" *ngIf="passwordEquelsOccurred">&bull; {{passwordMessage}}</small>

      </div>
      <div class="form-group form-check">
      </div>
      <button type="submit" [disabled]="f.invalid" class="btn btn-primary form-control"><img class="iconLoginButton"
                                                                                             src="../../../assets/icons/account-outline.svg"
                                                                                             alt="Reset"/>Reset
      </button>
    </form>

  </div>
</div>
